* {
    box-sizing: border-box; 
    font-size: 0px;
}

.blue {
    height: 100px;
    width: 50px;
    background-color: blue;
    display: inline-block;
}
.white {
    height: 100px;
    width: 50px;
    background-color: whitesmoke;
    display: inline-block;
}
.red {
    height: 100px;
    width: 50px;
    background-color: red;
    display: inline-block;
    /* position: relative;
    left: 100px; */
}
.black {
    height: 30px;
    width: 150px;
    background-color: black;
}
.yellow {
    height: 30px;
    width: 150px;
    background-color: orange;
}
.germany .red {
    height: 30px;
    width: 150px;
}
/* .madagascar {
    height: 100px;
    width: 150px;
} */
.madagascar .white {
    height: 100px;
    width: 50px;
    background-color: whitesmoke;
}
.green {
    background-color: green;
    height: 50px;
    width: 100px;
    position: relative;
    right: 100px; 
    display: inline-block;
}
.madagascar .red {
    height: 50px;
    width: 100px;
    position: relative;
    bottom: 50px;
}
.switzerland {
    padding: 0;
    margin: 0;
}
.switzerland .red {
    height: 100px;
    width: 100px;
    /* z-index: 10; */
}
.white-vertical {
    background-color: white;
    width: 20px;
    height: 60px;
    position: relative;
    left: 40px;
    top: 80px;
}
.white-horizontal {
    background-color: white;
    width: 60px;
    height: 20px;
    position: relative;
    left: 20px;
    bottom: 60px;
}
.sweden {
    display: block;
}
.cornflower {
    background-color: cornflowerblue;
    height: 100px;
    width: 150px;
}
.yellow-horizontal {
    background-color: yellow;
    width: 150px;
    height: 20px;
    position: relative;
    bottom: 60px;
}
.yellow-vertical {
    background-color: yellow;
    width: 20px;
    height: 100px;
    position: relative;
    left: 40px;
    top: 100px;
}
.gambia {
    display: block;
}
.gambia .red {
    width: 150px;
    height: 30px;
    margin: 5px;
    margin-bottom: 0;
}
.gambia .blue {
    width: 150px;
    height: 20px;
    margin: 5px;
    display: block;
}
.gambia .green {
    width: 150px;
    height: 30px;
    margin: 5px;
    display: block;
    position: static;
}
.tonga {
    height: 50 px;
    width: 300px;
    background-color: red;
}
.reverse-switzerland .white {
    height: 100px;
    width: 150px;
    background-color: whitesmoke;
    position: relative;
    bottom: 60px;
}
.red-vertical {
    background-color: red;
    width: 20px;
    height: 60px;
    position: relative;
    left: 70px;
    top: 20px;
    z-index: 1;
}
.red-horizontal {
    background-color: red;
    width: 60px;
    height: 20px;
    position: relative;
    left: 50px;
    bottom: 120px;
}
.japan {
    background-color: blanchedalmond;
    height: 150px;
    width: 250px;
}
.red-circle {
    height: 25px;
    width: 25px;
    color: maroon;
    position: relative;
    left: 40px;
    z-index: 2;
    border-radius: 50%;
}